.navbar-container {
   height: 70px;
   padding: 0px 20px;
   display: flex;
   align-items: center;
}

.navbar-logo {
   margin: 0px;
   font-size: 24px;
   font-weight: bold;
}

@media (min-width: 768px) {
   .navbar-container {
      padding: 0px 30px;
   }
}

@media (min-width: 1200px) {
   .navbar-container {
      padding: 0px 50px;
   }
}