.login-card {
  padding: 20px;
  font-size: 16px;
  background-color: #6c6c6c;
}

.login-card h1 {
  font-size: 2.5em;
  font-weight: normal;
  text-align: center;
  letter-spacing: -0.015em;
  color: #263238;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 50px;
}

.login-submit {
  margin-bottom: 10px;
  margin-top: 30px;
}

@media (min-width: 576px) {
  .login-card {
    padding: 50px;
  }
}
